<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<% content_for :header do %>
  <div id="application_header_logo">
      <%= link_to root_path, data: { turbolinks: false } do %>
          <%= show_svg('cobalt_report_white.svg') %>
      <% end %>
  </div>
  <span id="header_title">Bluebot Agent Sales Rollup Report for <strong><%=@property_name%></strong></span>
<% end %>

<span id="bluebot_rollup_form">
<%= form_for(@report_form, url: bluebot_agent_sales_rollup_report_path, method: :get) do |form| %>
  <input name="property_id" type="hidden" value="<%=@property_id%>">
  <%= form.label :end_month, 'End Month', class: "bluebot_rollup_form_label" %>
  <%= form.select :end_month, agent_sales_end_of_month_selections(@report_form.end_month) %>
  <%= form.submit "Update", class: "bluebot_rollup_form_button" %>
<% end %>
</span>

<input id="property_id" type="hidden" value="<%= @property_id %>">

<div id="bluebot_agent_sales_rollup_report">  
  <table id="bluebot_agent_sales_rollup_report_table" class="stripe" width="100%" cellpadding="0" cellspacing="0" border="0" class="table" >
    <thead>
      <th>
        Agent
      </th>
      <th>
        <%=@date_names[0]%>
      </th>
      <th>
        <%=@date_names[1]%>
      </th>
      <th>
        <%=@date_names[2]%>
      </th>
      <th>
        <%=@date_names[3]%>
      </th>
      <th>
        <%=@date_names[4]%>
      </th>
      <th>
        <%=@date_names[5]%>
      </th>
      <th>
        <%=@date_names[6]%>
      </th>
      <th>
        <%=@date_names[7]%>
      </th>
      <th>
        <%=@date_names[8]%>
      </th>
      <th>
        <%=@date_names[9]%>
      </th>
      <th>
        <%=@date_names[10]%>
      </th>
      <th>
        <%=@date_names[11]%>
      </th>
      <th>
        Year
      </th>
      <th>
       
      </th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
