<% content_for :header do %>
  <div id="application_header_logo">
      <%= link_to root_path, data: { turbolinks: false } do %>
          <%= show_svg('cobalt_report_white.svg') %>
      <% end %>
  </div>
<% end %>

<h1>Listing TRM Blue Shifts for <%= @property.code %></h1>

<table class="entity_table">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Created by</th>
      <th>Manager problem?</th>
      <th>Market problem?</th>
      <th>Marketing problem?</th>
      <th>Capital Problem?</th>
      <th>Latest fix by date</th>
      <th>Archived</th>
      <th>Archived Status</th>
      <th>Overridden</th>
    </tr>
  </thead>

  <tbody>
    <% @trm_blue_shifts.each do |trm_blue_shift| %>
      <tr>
        <td><%= link_to 'Show', property_trm_blue_shift_path(@property, trm_blue_shift), data: { turbolinks: false } %></td>
        <td><%= formatted_date(trm_blue_shift.created_on) %></td>
        <td><%= trm_blue_shift.user.name %></td>
        <td><%= trm_blue_shift.manager_problem %></td>
        <td><%= trm_blue_shift.market_problem %></td>
        <td><%= trm_blue_shift.marketing_problem %></td>
        <td><%= trm_blue_shift.capital_problem %></td>
        <td><%= formatted_date(trm_blue_shift.latest_fix_by_date) %></td>
        <td><%= trm_blue_shift.archived %></td>
        <td style="color: <%= trm_blue_shift.archived_status == 'success' ? 'blue' : 'red' %>"><%= trm_blue_shift.archived_status %></td>
        <% if trm_blue_shift.initial_archived_status != trm_blue_shift.archived_status && trm_blue_shift.archive_edit_user && trm_blue_shift.archive_edit_date %>
          <td><%= trm_blue_shift.archive_edit_user.first_name %> <%= trm_blue_shift.archive_edit_user.last_name %> on <%= trm_blue_shift.archive_edit_date %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
